# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pt
# IDE and editor configuration folders
.vscode/
.idea/

output_notebooks/
bin/
lib/
lib64/
pyvenv.cfg
share/
etc/
slurm_logs/

*.sbatch
*.txt
# Virtual environment folders
venv/
env/
.venv/
.env/

# Project-specific generated output - DO NOT TRACK
logs/
graphs/
policyitchk/
positions/
out/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables file
.env

# other
data